@keyframes fadeAwayToLeft {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-100%);
    opacity: 0;
  }
  71% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
